@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-info">
            <ul class="nav nav-pills card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#lista-productos" data-toggle="tab">Lista de Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link categoria" href="#categorias" data-toggle="tab">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link proveedor" href="#proveedores" data-toggle="tab">Proveedores</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="lista-productos">
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-warning" id="btnNuevo"><i class="fas fa-plus-circle"></i> Nuevo Producto</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Imagen</th>
                                        <th>Codigo Barra</th>
                                        <th>Marca</th>
                                        <th>Descripcion</th>
                                        <th>Categoria</th>
                                        <th>Stock</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--  Modal-->
                    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Detalle Producto</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" value="0" id="txtId">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCodigoBarra">Codigo Barra</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCodigoBarra" name="Codigo Barra">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtMarca">Marca</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtMarca" name="Marca">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtDescripcion">Descripcion</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcion" name="Descripcion">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboProveedor">Proveedor</label>
                                                        <select class="form-control form-control-sm" id="cboProveedor">
                                                            <option value="0">seleccionar</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboCategoria">Categoria</label>
                                                        <select class="form-control form-control-sm" id="cboCategoria">
                                                            <option value="0">seleccionar</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtPrecio">Precio</label>
                                                        <input type="text" class="form-control form-control-sm input-validar" id="txtPrecio" name="Precio">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboEstado">Estado</label>
                                                        <select class="form-control form-control-sm" id="cboEstado">
                                                            <option value="1">Activo</option>
                                                            <option value="0">No Activo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtImagen">Imagen</label>
                                                        <input class="form-control-file" type="file" id="txtImagen" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <img id="imgProducto" style="max-width:200px;" src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?w=300" class="rounded mx-auto d-block" alt="...">
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="categorias">

                    <div class="row">
                        <div class="col-sm-3">
                            <button id="btnNuevoP" class="btn btn-warning"><i class="fas fa-plus-circle"></i> Nueva Categoria</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tbdataP" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Descripcion</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  Modal-->
                    <div class="modal fade" id="modalDataP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Detalle Categoria</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" value="0" id="txtIdP">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtDescripcionP">Descripcion</label>
                                                        <input type="text" class="form-control form-control-sm" id="txtDescripcionP">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboEstadoP">Estado</label>
                                                        <select class="form-control form-control-sm" id="cboEstadoP">
                                                            <option value="1">Activo</option>
                                                            <option value="0">No Activo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardarP">Guardar</button>
                                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modalP">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="proveedores">
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-warning" id="btnNuevoV"><i class="fas fa-plus-circle"></i> Nuevo Proveedor</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tbdataV" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>NIT</th>
                                        <th>Nombre</th>
                                        <th>Contacto</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  Modal-->
                    <div class="modal fade" id="modalDataV" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6>Detalle Proveedor</h6>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" value="0" id="txtIdV">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtNITV">NIT</label>
                                                        <input type="text" class="form-control form-control-sm input-validarV" id="txtNITV" name="NIT">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtNombreV">Nombre</label>
                                                        <input type="text" class="form-control form-control-sm input-validarV" id="txtNombreV" name="Nombre">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtTelefonoV">Telefono</label>
                                                        <input type="text" class="form-control form-control-sm input-validarV" id="txtTelefonoV" name="Telefono">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtCorreoV">Correo</label>
                                                        <input type="text" class="form-control form-control-sm input-validarV" id="txtCorreoV" name="Correo">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-6">
                                                        <label for="txtContactoV">Contacto</label>
                                                        <input type="text" class="form-control form-control-sm input-validarV" id="txtContactoV" name="Contacto">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cboEstado">Estado</label>
                                                        <select class="form-control form-control-sm" id="cboEstadoV">
                                                            <option value="1">Activo</option>
                                                            <option value="0">No Activo</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardarV">Guardar</button>
                                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modalV">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/vistas/Producto_Index.js"></script>
    }