@{
    ViewData["Title"] = "Nuevo Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet" />
    <style>
        .select2 {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--single {
            background-color: #eaecf4;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-search--dropdown .select2-search__field {
            height: calc(1.5em + 0.5rem + 2px);
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }


        .detailRes {
            position: fixed;
            top: 94px;
            z-index: 999;
        }

    </style>
}

    <div class="row">
        <div class="col-sm-8" id="masterDetail">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Fecha y Establecimiento</h6>
                        </div>
                        <div class="collapse show" id="collapseEstablishment">
                            <div class="card-body">
                                <div class="form-row d-flex align-items-end">
                                    <div class="form-group col-sm-6">
                                        <label for="daterange">Fechas de entrada y salida:</label>
                                        <input type="text" class="form-control form-control-sm" name="daterange" placeholder="Ingrese fechas de entrada y salida" value="" required />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="cboSearchEstablishment">Establecimiento:</label>
                                        <select class="form-control form-control-sm" id="cboSearchEstablishment" required>
                                            <option selected="Ingrese Establecimiento"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <button class="form-control form-control-sm btn btn-info btn-sm btn-next" id="btnNextRoom"><i class="fas fa-chevron-right"></i> Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Habitaciones</h6>
                        </div>
                        <div class="collapse" id="collapseRoom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-sm" id="tbRoom">
                                            <thead>
                                                <tr>
                                                    <th>Habitacion</th>
                                                    <th>Descripcion</th>
                                                    <th>Capacidad</th>
                                                    <th>Val. Huesped</th>
                                                    <th>Cant. Huespedes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="form-row justify-content-between">
                                            <div class="form-group col-sm-2">
                                                <button class="form-control form-control-sm btn btn-info btn-sm btn-next" id="btnPrevEstablishment">
                                                    <i class="fas fa-chevron-left"></i> Anterior
                                                </button>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <button class="form-control form-control-sm btn btn-info btn-sm btn-next" id="btnNextGuest">
                                                    <i class="fas fa-chevron-right"></i> Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Huesped Principal</h6>
                        </div>
                        <div class="collapse" id="collapseGuest">
                            <div class="card-body">
                                <form class="row g-3" id="frmMainGuest">
                                    <div class="col-md-4">
                                        <label for="DocumentType" class="form-label">Tipo Identificación</label>
                                        <select id="DocumentType" class="form-select form-control" required>
                                            <option selected>Elige...</option>
                                            <option value="CC">CC</option>
                                            <option value="TI">TI</option>
                                            <option value="CE">CE</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                            <option value="DNI">DNI</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Document" class="form-label">N. Identificación</label>
                                        <input type="text" class="form-control" id="Document" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="IdRoom" class="form-label">Habitación</label>
                                        <select class="form-select form-control input-room" id="IdRoom" required>
                                            <option selected>Elige...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Name" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" id="Name" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="LastName" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" id="LastName" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="RecidenceCity" class="form-label">Ciudad de Residencia</label>
                                        <input type="text" class="form-control" id="RecidenceCity" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="OriginCity" class="form-label">Ciudad de Procedencia</label>
                                        <input type="text" class="form-control" id="OriginCity" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Reason" class="form-label">Motivo</label>
                                        <select id="Reason" class="form-select form-control" required>
                                            <option selected>Elige...</option>
                                            <option value="Trabajo">Trabajo</option>
                                            <option value="Viaje">Viaje</option>
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="NumberCompanions" class="form-label">N. Acompañantes</label>
                                        <input type="text" class="form-control" id="NumberCompanions" required>
                                    </div>
                                    <input type="hidden" id="IsMain" value="1">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                            <label class="form-check-label" for="gridCheck">
                                                Acepto Terminos y Condiciones
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-12">
                                        <div class="form-row justify-content-between">
                                            <div class="form-group col-sm-2">
                                                <button class="form-control form-control-sm btn btn-info btn-sm btn-next" id="btnPrevRooms">
                                                    <i class="fas fa-chevron-left"></i> Anterior
                                                </button>
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <button class="form-control form-control-sm btn btn-info btn-sm btn-next" type="submit" id="btnNextCompanions">
                                                    <i class="fas fa-chevron-right"></i> Siguiente
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="detailRes">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 bg-gradient-info">
                                <h6 class="m-0 font-weight-bold text-white">Detalle Reserva</h6>
                            </div>
                            <div class="text-center d-none" id="imgLogoEstablishment">
                                    <img src="" alt="Logo del establecimiento" style="width: 25%; display: block; margin: 0 auto;">
                            </div>
                            <div class="card-body border">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="cboTipoDocumentoMovimiento">Tipo Documento</label>
                                    </div>
                                    <select class="custom-select" id="cboTipoDocumentoMovimiento">
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Entrada</span>
                                            </div>
                                            <input type="text" class="form-control" id="txtEntrada" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Salida</span>
                                            </div>
                                            <input type="text" class="form-control" id="txtSalida" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupSubTotal">Sub Total</span>
                                    </div>
                                    <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSubTotal" id="txtSubTotal" disabled>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupIGV">IMP (18%)</span>
                                    </div>
                                    <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupIGV" id="txtIGV" disabled>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupTotal">Total</span>
                                    </div>
                                    <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="form-group mb-0">
                                    <button class="btn btn-warning btn-sm btn-block btnSendData" id="btnTerminarPedido">Terminar y Grabar Reserva</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/vendor/daterangepicker-master/daterangepicker.js"></script>
    <script src="~/js/vistas/NewBooking.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    }
