
@{
    ViewData["Title"] = "Nuevo Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <style>
        .select2{
            width:100%!important;
            
        }

        .select2-container--default .select2-selection--single {
            background-color: #eaecf4;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-search--dropdown .select2-search__field {
            height: calc(1.5em + 0.5rem + 2px);
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }
    </style>
}

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Proveedor</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <select class="form-control form-control-sm" id="cboBuscarProveedor">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-sm" id="tbProveedor">
                                        <thead>
                                            <tr>
        @*                                        <th></th>*@
                                                <th>Nit</th>
                                                <th>Nombre</th>
                                                <th>Contacto</th>
                                                <th>N. Pedido</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Productos</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-sm" id="tbProducto">
                                        <thead>
                                            <tr>
                                                <th>Cod. Barras</th>
                                                <th>Descripcion</th>
                                                <th>Marca</th>
                                                <th>Val. Unitario</th>
                                                <th>Cantidad</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-gradient-info">
                            <h6 class="m-0 font-weight-bold text-white">Detalle Pedido</h6>
                        </div>
                        <div class="card-body">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cboTipoDocumentoMovimiento">Tipo</label>
                                </div>
                                <select class="custom-select" id="cboTipoDocumentoMovimiento">
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupSubTotal">Sub Total</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSubTotal" id="txtSubTotal" disabled>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupIGV">IMP (18%)</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupIGV" id="txtIGV" disabled>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupTotal">Total</span>
                                </div>
                                <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTotal" id="txtTotal" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                <button class="btn btn-warning btn-sm btn-block" id="btnTerminarPedido">Terminar y Grabar Pedido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/js/vistas/Nuevo_Pedido.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
}
