@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left" id="infoUser">
                <br />
                <br />
                <br />
                <br />
                <h1 class="display-4">¡Bienvenido(a) <span id="nombreUsuario"></span>!</h1>
                <p class="lead">Gracias por utilizar <strong>Hottely</strong>. Aquí tienes la herramienta para gestionar tu establecimiento.</p>
            </div>
            <div class="col-lg-6 text-right" id="imgHome">
                <img src="~/img/happyMan.png" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                        <h2>Tu subscripción actual</h2>
                    </div>
                    <div class="card-body" id="infoSubscripcion">
                        <p>Estás inscrito(a) en la subscripción <span id="nombreSubscripcion"></span>. Tu plan expira el <span id="fechaExpiracion"></span>.</p>
                        <button class="btn btn-primary">Renovar subscripción</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-header bg-success text-white">
                        <h2>Recomendaciones para ti</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href="/home/Perfil">Cambia tu contraseña</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/vistas/Home_Index.js"></script>
}
