@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

    <!-- DataTales Example -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 bg-gradient-info">
                    <h6 class="m-0 font-weight-bold text-white">Establecimiento</h6>
                </div>
                <div class="collapse show" id="collapseEstablishment">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <select class="form-select form-control input-establishment" id="cboSearchEstablishment">
                                    <option selected>Establecimiento...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-info">
            <h6 class="m-0 font-weight-bold text-white">Lista de Habitaciones</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-warning" id="btnNuevo"><i class="fas fa-plus-circle"></i> Nueva Habitacion</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Imagen</th>
                                <th>Numero de Habitacion</th>
                                <th>Descripcion</th>
                                <th>Categoria</th>
                                <th>Capacidad</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Habitacion</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtNumber"># Habitacion</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtNumber" name="Numero Habitacion">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtDescription">Descripcion</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescription" name="Descripcion">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="cboEstablishment">Establecimiento</label>
                                        <select class="form-control form-control-sm" id="cboEstablishment">
                                            <option value="0">seleccionar</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="cboCategoria">Categoria</label>
                                        <select class="form-control form-control-sm" id="cboCategoria">
                                            <option value="0">seleccionar</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="txtCapacity">Capacidad</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCapacity" name="Capacity">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="txtPrice">Precio Noche</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtPrice" name="Precio">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="1">Disponible</option>
                                            <option value="0">Ocupada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtImage">Imagen</label>
                                        <input class="form-control-file" type="file" id="txtImagen" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img id="imgRoom" style="max-width:200px;" src="https://images.unsplash.com/photo-1527864550417-7fd91fc51a46?w=300" class="rounded mx-auto d-block" alt="...">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/vistas/Room_Index.js"></script>


    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @*    <script src="~/js/vistas/datatables-demo.js"></script>
*@
    }